* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, ::after, ::before {
  box-sizing: inherit;
  overflow-x: hidden;
}

@font-face {
  font-family: 'Grinched Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Grinched Regular'), url('Utils/GrinchedRegular.woff') format('woff');
}

.darkTheme {
  background-color: #1a1a1a;
  transition: background-color 0.25s;
}