* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

html, ::after, ::before {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Grinched Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Grinched Regular'), url('Utils/GrinchedRegular.woff') format('woff');
}